/* Active pill style */
.nav-pill .nav-link.active {
  border-bottom: 5px solid rgb(220, 53, 70);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* Inactive pill style */
.nav-pill .nav-link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(220, 53, 70);
  margin-right: 8px;
}

/* Hover effect for inactive pills */
.nav-pill .nav-link:hover {
  border-bottom: 5px solid rgb(220, 53, 70);
  border-radius: 5px;
  color: #333;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

header img {
  width: 100px;
}

header,
footer {
  background-color: rgb(241, 231, 141);
}

.card-text-center {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.466);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.text-middle {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cta-button {
  padding: 10px 20px;
  background-color: #ffffff00;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 16px;
}

.cta-button:hover {
  background-color: #ffffff;
  color: black;
}

.home-welcome h5 {
  font-family: Arial, Helvetica, sans-serif;
}

.home-welcome h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-welcome p {
  color: rgb(177, 102, 102);
}

.home-welcome p:hover {
  color: rgb(247, 147, 147);
}


.content-feelgood {
  width: 100%;
  height: 30vh;
  background-image: url('https://indiarestaurant.co.in/assets/images/backgrounds/eat-food.jpg');
  background-attachment: fixed;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}




.speciality {
  background-color: #f4f4f4;
  padding: 60px 20px;
  text-align: center;
}

.image-container {
  overflow: hidden;
  /* Ensures the image stays within the container when zoomed */
  width: 350px;
  /* Set a width for the container */
  height: 450px;
  /* Set a height for the container */
}

.zoom-image {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  /* Smooth transition */
}

.zoom-image:hover {
  transform: scale(1.2);
  /* Scale up image on hover */
}

.testimonial {
  width: 100%;
  height: 100vh;
  background-image: url('https://indiarestaurant.co.in/assets/images/backgrounds/TESTIMONIAL.jpg');
  background-size: cover;
  text-align: center;
}

.testimonial-card {
  background-color: white;
  border-radius: 10px;
}

.testimonial-card p {
  font-style: italic;
}

.rating span {
  color: #ffca28;
  font-size: 12px;
}




.restaurant-center {
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.restaurant-center h1 {
  font-family: sans-serif;
  font-size: 50px;
}

.restaurant-menu-bg {
  width: 100%;
  height: auto;
  background-image: url('https://i.pinimg.com/736x/f6/82/2c/f6822caba8ba82f223b4ce427401e392.jpg');
  background-size: cover;
  background-attachment: fixed;
  border-radius: 10px;
}

.category-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }


.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.Mission {
  animation-name: zoomIn;
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.Vision {
  animation-name: zoomIn;
  animation-name: flash;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.Timings {
  background-image: url('https://i.pinimg.com/736x/77/10/b6/7710b61ab019f0540d0386da2b6f9156.jpg');
  background-size: cover;
  border-radius: 8px;
  color: #b8b8b8;
}

.Timings h1 {
  text-align: center;
  color: #fff;
  font-family: cursive;
}

.line-border {
  border-bottom: 1px dotted #b8b8b8;
  padding-bottom: 5px;
}

.line-border span:hover {
  color: #ff8585;
}




aside {
  background-color: rgb(245, 174, 23);
  color: white;
}

aside button {
  width: 100%;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(245, 174, 23);
}

aside button:hover {
  background-image: linear-gradient(to right, rgb(220, 53, 70), rgb(245, 174, 23));
  color: rgb(241, 231, 141);
  font-weight: bold;
}

.submit_button {
  background-image: linear-gradient(to right, rgb(220, 53, 70), rgb(245, 174, 23));
  color: rgb(241, 231, 141);
  font-weight: bold;
}

.my-toast-class {
  background-color: rgb(74, 189, 235);
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}

.login_hint {
  font-style: italic;
  font-size: smaller;
  color: grey;
}